.CarouselImgbutton{
    height: 15%;
    width: 20%x;
    background-color:white ;
    transition: 1s all;
    border-radius: 35px;
    border-style: none;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.CarouselImgbutton:hover{
    background-color:#9876ff ;
    color: white;
}
.carousel-item{
    transition: transform 1.5s ease-in;
}
