.footer {
    position:relative;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: white;
    color: black;
    margin-top: 150px;
}
.footer ul{
    list-style: none;
}
.socialLogo a{
    color: black;
    padding-right: 5px;
    padding-left: 5px;
    align-items: center;
}