.d-flex button{
    color: black;
    border-color: black;
}
.d-flex button{
    transition: 1s all;
}
.d-flex button:hover{
    background-color:#936EFF;
    border-color: black;
    border-color: white;
}
.container-fluid img{
    height: 110px;
    width: 130px;
}
.nav-item a:hover{
    color: #5E27FF;

}
.dropdown-menu li :hover{
    background-color:#e6e2f3 !important;
    color: #5E27FF !important;
}

h5{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#936EFF;
    font-size: 18px;
}
.dropdown-toggle{
    margin-left: 15px;
}
.navbar-nav a:hover{
    color: #5E27FF;
}
.buyIcon{
    margin-right: 110px;
    transition: 1s all;
    color: rgb(100, 100, 100);

}
.buyIcon:hover{
    color: #5E27FF;
}
.userButton{
    color:rgb(100, 100, 100) ;
    transition: 1s all;
    margin-right:100px ;
}
.userButton:hover{
    color:#5E27FF ;
}
.userBuy{
    list-style:none;
}
.userBuy li{
    display: inline-block;
}
.nav-link:hover{
    display: block;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}